<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE-RD</title>
</head>
<body>
    <h1>welcome <%= name.name %></h1>
    <h3>email:<%= name.email %></h3>
    <h3>city:<%= name.city %></h3>
    <div>
        <ul>
            <% name.skills.forEach((item)=>{ %>
                <li><%= item %></li>
        <%  }) %>
        </ul>
    </div>
</body>
</html>